<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FFI | Log in</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--Style Sheet-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/CSS/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/CSS/kendo.material.min.css" rel="stylesheet" />

    <style>
        .btn-primary {
            background-color: #30749c;
            border-color: #30749c;
        }

            .btn-primary:hover,
            .btn-primary:active,
            .btn-primary.hover {
                background-color: #30749c;
            }

        .k-tooltip-validation .k-warning {
            margin-left: -17px;
        }

        .k-window-titlebar {
            background-color: #3c8dbc;
        }

        .control-label.required:after {
            content: "*";
            color: red;
        }

        /*body {
            background-image: url("/images/loginImage.png") !important;
            background-repeat: repeat;
        }*/

        .login-box {
            width: 50%;
            margin: 2% auto;
        }
    </style>
    <!--Scripts-->
    <script src="~/Scripts/jQuery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/CommonScripts/Common_func.js"></script>
    <script src="~/CommonScripts/AjaxScript.js"></script>
    <script src="~/Scripts/kendo.all.min.js"></script>
    <script src="~/CommonScripts/forgotPassword.js"></script>    
    <script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>

    <script type="text/x-kendo-template" id="ok-confirmation">
        <div id="div">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <button class="ok k-button" onclick="con_close()">OK</button>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </script>

    <script>
        window.kendoAlert = function (msg) {
            var win = $("<div />").kendoWindow({
                title: "Message",
                width: "350px",
                height: "130px",
                modal: true,
                draggable: false,
                resizable: false
            }).getKendoWindow();
            win.center().open();
            win.content(msg + "<br><br>" + $("#ok-confirmation").html()).center().open();
        };
        function con_close() {

            if (msg_success == true) {
                location.href = "../Login/Login";
            }
            else {
                // $(".k-i-close").click();
                $('.k-window').css('display', 'none');
                $('.k-overlay').css('display', 'none');
            }

        }


        $(document).ready(function () {
            Form_validate_Name = $('form.form-horizontal').attr('id');
            var container = $("#forgotPassword_form");
            kendo.init(container);

        });

        function savechk() {
            savedraft();
        }


    </script>
</head>
<body class="hold-transition login-page">
    <form id="forgotPassword_form" class="form-horizontal" data-role="validator" novalidate="novalidate">
        <div class="wrapper">
            <footer class="main-footer" style="margin-left: 0px; border-top: 0px; background-color: #3c8dbc;display:none">
                <img id="scsLogo" src="~/images/logo-small_left.png" style="margin-top:-12px;display:none" />
            </footer>
            <div class="row" style="padding-top:60px;">
            </div>
            <div class="login-box" style="margin-top:-26px">
                <div class="login-box-body">
                    @*@using (Html.BeginForm())
                        {*@

                    <div class="form-group has-feedback">
                        <div style="float:right"><i class="fa fa-question-circle fa-2x"></i></div>
                    </div>
                    <div class="form-group has-feedback">
                        <h3 style="margin-top: 0px; padding-left: 13px;">Forgot Password</h3>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">

                            <input type="hidden" id="seq_mode" name="seq_mode" />
                            <div class="form-group has-feedback">
                                <label class="control-label col-sm-4" for="txtUserId">User Id :</label>
                                <div class="col-sm-6">
                                    <input id="txtUserId" type="text" class="form-control" name="user_code" disabled>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label col-sm-4" for="cmb_question">Security Question :</label>
                                <div class="col-sm-6">
                                    <input id="cmb_question" name="secquestion_code" data-role="filtercombo" style="width :100%" />
                                    @*<input type="text" class="form-control" id="sQustion">*@
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label col-sm-4 required" for="txtAnswer">Answer :</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="txtAnswer" name="secquestion_answer">
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label col-sm-4 required" for="txtnewPassword">New Password :</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="txtnewPassword" name="user_pwd" maxlength="10">
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label col-sm-4 required" for="txtcnfrmPassword">Confirm Password :</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="txtcnfrmPassword" name="confirm_password" maxlength="10" onchange="password_check">
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="txtCaptcha" class="col-sm-4 control-label"></label>
                                <div class="col-sm-4">
                                    <input id="txtCaptcha" type="text" class="form-control" disabled style="background-image: url('/images/1.jpg'); border: none; height: 30px; width: 140px; font-weight: bold; font-family: Modern; font-size: 20px; padding-right: 0px">
                                </div>
                                <div class="col-sm-2">
                                    <a class="fa fa-refresh fa-lg " data-toggle="modal"
                                       href="#" onclick="refresh()" title="Refresh"></a>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="txtCaptchaAnswer" class=" col-sm-4 control-label required">Re-Enter Captcha</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="captcha" id="txtCaptchaAnswer">
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <div class="col-sm-offset-4 col-sm-6">
                                    <center>
                                        @* <button id="btnSave" class="btn btn-info" data-toggle="tooltip" data-placement="top" onclick="master_savedraft()"  title="சேமிக்க"> <span class="glyphicon glyphicon-ok"></span> Save </button>*@
                                        @*<a href="/Login/Login" id="btnFPClose" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="" onclick="close1()">
                                            <span class="glyphicon glyphicon-ok"></span> Close </a>*@
                                        <button id="btnSave" type="button" onclick="savechk()" class="btn btn-sm btn-primary  ">Save</button>
                                        <button id="btnClose" onclick="close1()" type="button" class="btn btn-primary btn-sm ">Close</button>
                                        @* <input type="button" class="btn btn-primary" id="save" value="Save">*@
                                        @* <a href="/Login/Login"  class=""btn btn-info" id="cancel" >Cancel</a>*@
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*}*@
                </div>
            </div>
        </div>
    </form>
</body>
</html>

