<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta name="author" content="">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=9">
    <!-- Font Awesome -->
    <link href="stylesheets/font-awesome.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <!--headerIncludes-->
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="stylesheets/menu.css">
    <link rel="stylesheet" href="stylesheets/flat-ui-slider.css">
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/skeleton.css">
    <link rel="stylesheet" href="stylesheets/landings.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/landings_layouts.css">
    <link rel="stylesheet" href="stylesheets/box.css">
    <link rel="stylesheet" href="stylesheets/pixicon.css">
    <link href="assets/css/animations.min.css" rel="stylesheet" type="text/css" media="all" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="stylesheet" href="stylesheets/custom/index.css">
</head>
<body>

    <div id="page" class="page">
        <div class="pixfort_real_estate_4" id="section_real_estate_2">
            <div class="page_style pix_builder_bg"
                 style="background-image: url(&quot;images/uploads/banners.jpg&quot;);
        background-color: rgba(0, 0, 0, 0);
        padding-top: 0px;
        padding-bottom: 170px;
        box-shadow: none;
        border-color: rgb(68, 68, 68);
        background-size: cover;
        background-attachment: scroll;
        background-repeat: repeat;
        outline-offset: -3px;" src="images/uploads/NAFLogo-3.png">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 logo1">
                            @*<img src="images/uploads/logo-header2_m.png" class="home_st" alt="" style="border-radius: 0px; border-color: rgb(68, 68, 68); border-style: none; border-width: 1px; width: 146px; height: 121px; outline: none; cursor: default;">*@
                        </div>
                        <div class="col-sm-4 textlogo">
                            <h1 style="color:white;line-height: 50px;margin-bottom: 14px;font-size: 40px;font-weight: 700; display:none;"> KANCHI </h1>
                        </div>
                        <div class="col-sm-4">

                        </div>
                    </div>
                    <div class="row" style="margin-bottom:120px !important;">
                        <div class="col-sm-12">
                            <span class="editContent">
                                <h1 class="start_style">
                                    @*<span class="newcap">K</span>ISAN'S
        <span class="newcap">A</span>DVA
        <span class="newcap">N</span>CEMENT THROUGH
        <span class="newcap">C</span>AS
        <span class="newcap">H</span>LESS
        <span class="newcap">I</span>NNOVATIONS*@

                                    
                                </h1>
                            </span>
                        </div>
                    </div>
                    <p class="txt_start"><span class="gethouse_btn editContent"><a class="slow_fade pix_text" href="~/Login/login" target="newwindow" style="outline: rgb(246, 120, 40) dotted 0px; cursor: pointer;width:500px!important">TAKE  ME THERE</a></span></p>
                    <p class="note_st" style="outline: none; cursor: default;"> <span class="editContent" style=""></span></p>



                    <!--<div class="sixteen columns">
                        <div class="text_page">

                            <div class="logo1">
                                <img src="images/uploads/logo-header2_m.png" class="home_st" alt="" style="border-radius: 0px; border-color: rgb(68, 68, 68); border-style: none; border-width: 1px; width: 146px; height: 121px; outline: none; cursor: default;">
                            </div>
                            <div class="textlogo"><h1 style="color:white;line-height: 50px;margin-bottom: 14px;font-size: 40px;font-weight: 700;"> KANCHI </h1></div>
                            <div class="logo2">
                                <img src="images/uploads/logo-header_m.jpg" class="home_st" alt="" style="border-radius: 0px; border-color: rgb(68, 68, 68); border-style: none; border-width: 1px; width: 146px; height: 121px; outline: none; cursor: default;">
                            </div>
                            <span class="editContent"><h1 class="start_style"><span class="newcap">K</span>ISAN'S <span class="newcap">A</span>DVA<span class="newcap">N</span>CEMENT THROUGH <span class="newcap">C</span>AS<span class="newcap">H</span>LESS <span class="newcap">I</span>NNOVATIONS</h1></span>
                            <!--<p class="txt_start">
                                <span class="editContent">Proudly launching the KANCHI web application.</span>
                            </p>-->
                    <!--<p class="txt_start"><span class="gethouse_btn editContent"><a class="slow_fade pix_text" href="~/Login/login" target="newwindow" style="outline: rgb(246, 120, 40) dotted 0px; cursor: pointer;width:500px!important">TAKE  ME THERE</a></span></p>
                            <p class="note_st" style="outline: none; cursor: default;"> <span class="editContent" style=""></span></p>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <!--<div class="dark" id="section_title_4_dark">
                    <div class="big_padding pix_builder_bg" style="background-image: none; background-color: rgba(0, 128, 0, 0.4); padding-top: 60px; padding-bottom: 60px; box-shadow: none; border-color: rgb(255, 255, 255); background-size: auto; background-attachment: scroll; background-repeat: repeat; outline: none; cursor: default;">
                        <div class="container">
                            <div class="sixteen columns">
                                <div class="six columns alpha">
                                    <p class="big_title bold_text editContent" style="outline: none; cursor: default;">Who We Are</p>
                                </div>
                                <div class="ten columns alpha">
                                    <p class="big_text normal_gray editContent" src="images/16_medical/nurse.png" style="color: rgb(187, 187, 187); font-size: 18px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; outline: none; cursor: default;">National Agro Foundation (NAF) was set up as a Public Charitable Trust in 2000 by Mr. C Subramaniam, Architect of India's Green Revolution and Bharat Ratna Awardee to revive rural India through rural innovations. After his demise Dr. A P J Abdul Kalam was the chairman and he held this post till he became the President of India.Inspired by the opportunity to deliver innovative and replicable solutions to the complex and interlinked socio- economic- environmental challenges of today’s rural India we have articulated an agile strategy with prime focus on advancing and strengthening the interdependent and mutually reinforcing pillars of sustainable development – “Education” “Economy” , “Environment” &amp; “Empowerment”.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
        <div class="pixfort_footer_1" id="section_footer_1">
            <div class="new_footer_1 pix_footers pix_builder_bg" style="outline-offset: -3px; outline: none; cursor: default;">
                <div class="container ">
                    <div class="sixteen columns bg_foot">
                        <div class="seven columns alpha desk_left">
                            <div class="footer_1_text">

                                <span class="editContent" style="font-size: 10px;">
                                    <div style=" width:1000px; padding: 6px;">
                                        <div style="width: 950px;text-align: center;float:left;">
                                            <p style="font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 15px;">Powered By Flexicode Ver1.0.5</p>
                                        </div>
                                        <div style="float:left;width:50px;"><img src="images/logo-small_right.png" alt="LOGO" style=" height: 32px; margin-left: 22px;"/></div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="nine columns omega desk_right">
                            <ul class="bottom-icons"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="pixfort_medical_16 pix_builder_bg" id="section_medical_4" style="outline: none; cursor: default;">

        </div><div class="pixfort_hotel_5" id="section_hotel_6">

        </div>
    </div>

    <!-- JavaScript
    ================================================== -->
    <script src="js-files/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="js-files/jquery.easing.1.3.js" type="text/javascript"></script>
    <script type="text/javascript" src="js-files/jquery.common.min.js"></script>
    <script src="js-files/ticker.js" type="text/javascript"></script>
    <script src="js-files/custom1.js" type="text/javascript"></script>
    <script src="assets/js/smoothscroll.min.js" type="text/javascript"></script>
    <script src="assets/js/appear.min.js" type="text/javascript"></script>
    <script src="js-files/jquery.ui.touch-punch.min.js"></script>
    <script src="js-files/bootstrap.min.js"></script>
    <script src="js-files/bootstrap-switch.js"></script>
    <script src="js-files/custom3.js" type="text/javascript"></script>


    <script src="assets/js/appear.min.js" type="text/javascript"></script>
    <script src="assets/js/animations.js" type="text/javascript"></script>
</body>
</html>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>launchView</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
